<div class="row">
  <h1 class="page-header">
    The is a <a href="#testView"> test page</a>.
    <small>We are checking routing.</small>
  </h1>
  <h1>Add widgets dynamically</h1>
  <p>Create a grid adding widgets from an Array (not from HTML) using <code>add_widget</code> method. Widget position (col, row) not specified.</p>

  <!--<div class="gridster ready">
    <ul></ul>
  </div>-->
  <div class="page-header">
    <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
    &nbsp&nbsp&nbsp<a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
    &nbsp&nbsp&nbsp<a class="pull-right btn btn-primary" ng-click="printJson()"><i class="glyphicon"></i> Get Json</a>
    <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
    <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
    </select>
    <!--<div>
      <img src="images/loader.gif">
    </div>-->
  </div>
  <div gridster="gridsterOptions">
    <ul>
      <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
        <div class="box" ng-controller="CustomWidgetCtrl">
          <div class="box-header">
            <h3>{{ widget.name }}</h3>
            <div class="box-header-btns pull-right">
              <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
              <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
          </div>
          <div class="box-content" id="{{widget.id}}">
            <!--{{widget.body}}-->
            <div ng-if="widget.hasChart3">
              <canvas id="line" class="chart chart-line" data="data"
                      labels="labels" legend="true" series="series"
                      click="onClick">
              </canvas>
            </div>
            <div ng-if="widget.hasChart4">
              <canvas id="bar" class="chart chart-bar" data="data2"
                      labels="labels2"></canvas>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

